:root {

  //Цвета
  --color-primary: ;
  --color-secondary: ;
  --color-accent-color: #FFBD4E;

  --color-font: #FFFFFF;
  --color-font-secondary: #646464;
  //Размеры
  --size-font-low: 16px;
  --size-font-middle: 25px;
  --size-font-hight: 50px;


}