.Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var( --size-font-middle);

  z-index: 1;
  background: var(--color-bg_opacity);
}
