@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-content: center;
}

.App {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  height: 100vh;
  color: var(--color-font);
  padding: 0 16px;
}